{
    "presets": ["react-native"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "stream": "react-native-stream"
                }
            }
        ]
    ]
}
